@using Microsoft.AspNet.Identity

<ul class="navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Manage")" title="Manage">Minha conta</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" action="@Url.Action("LogOff", "Account")" method="post">
                <button type="submit" class="nav-link btn btn-info">Sair</button>
            </form>
        </li>
    }
    else
    {
        if (Request.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="@Url.Action("Register", "Account")">Cadastramento</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Login", "Account")">Login</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" href="https://www.facebook.com/leonellopesp" target="_blank">
            <img src="~/images/icons8-facebook-30.png" width="20" />
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="" target="_blank">
            <img src="~/images/icons8-instagram-30.png" width="20" />
        </a>
    </li>
</ul>
